.footerIconInsta {
    font-size: 2rem;
    color: #cd1d92;
}


.footerIconFace {
    font-size: 2rem;
    color: #1635cc;
}


iframe {
    border-radius: 10px;
}


i {
    transition: $transicion;
}


.iconRedes:hover {
    color: $colorFuente;
    transition: 0.5s;
    font-size: larger;
    font-weight: bold;
}