.cards a:hover {
    color: $colorFuente;
}



.card {
    box-shadow: 10px 10px 10px;
    border-radius: 2rem;
    transition: transform $transicion;
    margin-left: 5rem;

    &:hover {
        transform: translateY(-20px);
    }


    &__header img {
        width: 100%;
        border-radius: 25px;
        margin-bottom: 10px;
    }

    &__description {
        color: #000;
        margin-bottom: 20px;
    }

    &__link {
        font-weight: bold;
        background-color: #888585;
        color: #fff;
        text-decoration: none;
        width: 100%;
        display: inline-block;
        border-radius: 50px;
        padding: 1rem;
    }
}