.navegacion {

    ul {
        list-style-type: none;
        line-height: 2rem;
    }


    a {
        color: $colorFuente;
        text-decoration: none;
        transition: $transicion;
    }


    & a:hover {
        color: #888585;
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: overline;
    }
}