.bg-image {
    background-image: url(../imagenes/origamimask.jpg);
    background-size: cover;
    background-position: center;
}


main {
    p {
        color: $colorFuente;
    }
}


.cursos {
    align-self: center;
    line-height: 45px;
    padding-left: 3rem;
    padding-bottom: 5rem;

    h2 {
        font-size: 3rem;
    }
}


.modalidad {
    color: #888585;
    font-size: 2.5rem;
}


.animacion {
    animation-name: nuevaModalidad;
    animation-duration: 1.1s;
    animation-iteration-count: infinite;
}


@keyframes nuevaModalidad {
    0% {
        color: #eaff00ef;
    }

    100% {
        color: #888585;
    }
}


.inscripcion {
    text-decoration: none;
    padding: 5px;
    border: 2px solid;
}