.listaPrecios {
    display: flex;
    justify-content: center;
    align-content: center;

    &__tabla {
        border: 2px solid #000;
    }
}

tr:hover {
    background-color: #b3acac;
    color: #fff;
    font-size: larger;
    font-weight: bold;
    transition: $transicion;
}

.textoInsumos {
    color: $colorFuente;
}