.listaPrecios {
    display: flex;
    justify-content: center;
    align-content: center;

    &__tabla {
        border: 2px solid black;
    }
}

tr:hover {
    background-color: #77c1c1;
    color: #fff;
    font-size: larger;
    font-weight: bold;
    transition: $transicion;
}