@import 'variables';

@import 'header';

@import 'footer';

@import 'indexpages';

@import 'cursospages';

@import 'insumospages';

@import 'contactopages';

@import 'galeriapages';



// EXTENDS //
// aplicado en Footer //

.info-base {
    color: $colorFuente;
    font-size: large;
    font-style: italic;
}

.info-horarios {
    @extend .info-base;
}


.info-telefono {
    @extend .info-base;
}


.info-direccion {
    @extend .info-base;
}

// FIN EXTENDS //


// MIXINS //
//aplicado en Galeria //

@mixin tarjeta {
    box-shadow: 10px 10px 10px;
    color: gray;
    border-radius: 2rem;
    padding: 2rem;
}

.tarjeta-uno {
    @include tarjeta;
}


.tarjeta-dos {
    @include tarjeta;
}


.tarjeta-tres {
    @include tarjeta;
}

// FIN MIXINS //


// MAPS //
// aplicado en Cursos //

$inscripcionCurso :(Origami-Basico: #6dceb4,
    Origami-Avanzado: #54b3d2,
    Paper-Crafts-Basico: #bc73c8,
    Paper-Crafts-3D:#d3679d,
    Paper-Crafts-Especiales:#e8ea74,
);


@each $nombreCurso,
$colorCurso in $inscripcionCurso {
    .link-#{$nombreCurso} {
        text-decoration: none;
        margin-left: 10px;
        padding: 10px;
        border-radius: 10px;
        background-color: $colorCurso;
        color: #000;
        font-size: small;
    }
}

// FIN MAPS //


// MEDIA QUERIES // 

// INDEX //

@media (max-width: 320px) {
    .inscripcion {
        font-size: medium;
    }

    .mainLista {
        text-align: left;
    }

    .mainLista li {
        font-size: medium;
    }
}


@media (max-width: 610px) {
    .slogan {
        display: none;
    }
}

// FIN INDEX //

// INSUMOS //

@media (max-width: 320px) {
    .listaPrecios {
        margin: 10px
    }
}


@media (max-width: 375px) {
    .listaPrecios {
        margin: 15px
    }
}


@media (max-width: 425px) {
    .listaPrecios {
        margin: 15px
    }
}


@media (max-width: 576px) {
    .listaPrecios {
        margin: 15px
    }
}

// FIN INSUMOS //

// CONTACTO //

@media (max-width: 320px) {
    .textarea {
        margin: 5px;
    }
}


@media (max-width: 375px) {
    .textarea {
        margin: 5px;
    }
}


@media (max-width: 425px) {
    .textarea {
        margin: 5px;
    }
}

// FIN CONTACTO //

// GALERIA //

@media (max-width: 320px) {
    div {
        width: 100%;
    }
}


@media (max-width: 375px) {
    div {
        width: 100%;
    }
}


@media (max-width: 425px) {
    div {
        width: 100%;
    }
}


@media (max-width: 576px) {
    div {
        width: 100%;
    }
}

// FIN GALERIA //

// FIN MEDIA QUERIES //