@import 'variables';

@import 'header';

@import 'footer';

@import 'indexpages';

@import 'cursospages';

@import 'insumospages';

@import 'contactopages';

@import 'galeriapages';


// EXTENDS //

.info-base {
    color: $colorFuente;
    font-size: large;
    font-style: italic;
}

.info-horarios {
    @extend .info-base;
}


.info-telefono {
    @extend .info-base;
}


.info-direccion {
    @extend .info-base;
}

// FIN EXTENDS //



// MEDIA QUERIES // 

// INDEX //

@media (max-width: 320px) {
    .inscripcion {
        font-size: medium;
    }

    .mainLista {
        text-align: left;
    }

    .mainLista li {
        font-size: medium;
    }
}


@media (max-width: 610px) {
    .slogan {
        display: none;
    }
}

// FIN INDEX //

// INSUMOS //

@media (max-width: 320px) {
    .listaPrecios {
        margin: 10px
    }
}


@media (max-width: 375px) {
    .listaPrecios {
        margin: 15px
    }
}


@media (max-width: 425px) {
    .listaPrecios {
        margin: 15px
    }
}


@media (max-width: 576px) {
    .listaPrecios {
        margin: 15px
    }
}

// FIN INSUMOS //

// CONTACTO //

@media (max-width: 320px) {
    .textarea {
        margin: 5px;
    }
}


@media (max-width: 375px) {
    .textarea {
        margin: 5px;
    }
}


@media (max-width: 425px) {
    .textarea {
        margin: 5px;
    }
}

// FIN CONTACTO //

// GALERIA //

@media (max-width: 320px) {
    div {
        width: 100%;
    }
}


@media (max-width: 375px) {
    div {
        width: 100%;
    }
}


@media (max-width: 425px) {
    div {
        width: 100%;
    }
}


@media (max-width: 576px) {
    div {
        width: 100%;
    }
}

// FIN GALERIA //

// FIN MEDIA QUERIES //